In [1]:
'''
Импортируйте модуль pandas как pd
'''

import pandas as pd

In [2]:
'''
Выведите на печать версию модуля pandas, используемую в текущий момент в песочнице Stepik.
'''

print(pd.__version__)

'1.1.3'

In [5]:
'''
Создайте Dataframe из словаря data. В качестве подписей строк используйте список labels.

Результат сохраните в переменную df.
'''

import numpy as np
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(data, labels)
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [10]:
'''
Переменная df содержит DataFrame.
Переменная col содержит имя колонки
Переменная row содержит имя ИЛИ индекс строки
Выведите на печать содержимое ячейки
'''

col = "animal"
row = "e"
df = pd.DataFrame({'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
                   'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
                   'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
                   'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']},
                 index = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'])

print(df[col][row])

dog

In [17]:
'''
Переменная df содержит DataFrame.

Выведите на печать:

число непустых (не null) значений в колонке 'age'
75% квантиль для значений в колонке 'age'
'''

df = pd.DataFrame({'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
                   'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
                   'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
                   'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']},
                 index = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'])

print(df.describe().age['count'])
print(df.describe().age['75%'])

8.0
4.625

In [19]:
'''
Переменная df содержит DataFrame.

Выведите на печать 3 первых строки.
'''

print(df[:3])

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no

In [21]:
print(df.head(3))

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no

In [40]:
'''
Переменная df содержит DataFrame.

Выведите на печать строки с индексами 0, 2, 3.
'''

df = pd.DataFrame({'name' : ["Alex", "Bob", "Carmen", "Diaz", "Ella","Forman", "Glen"],
                   'age' : [20, 27, 35, 55, 18, 21, 35],
                   'designation': ["VP", "CEO", "CFO", "VP", "VP", "CEO", "MD"]})

print(df.iloc[[0, 2, 3]])

     name  age designation
0    Alex   20          VP
2  Carmen   35         CFO
3    Diaz   55          VP

In [45]:
'''
Переменная df содержит DataFrame.

Выведите на печать только столбцы 'name' и 'age' (гарантируется, что они есть)
'''

df = pd.DataFrame({'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
                   'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
                   'name': ['Murzik', 'Pushok', 'Kaa', 'Bobik', 'Strelka', 'Vaska', 'Kaa2', 'Murka', 'Graf', 'Muhtar'],
                   'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
                   'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']},
                 index = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'])

print(df[['name', 'age']])

      name  age
a   Murzik  2.5
b   Pushok  3.0
c      Kaa  0.5
d    Bobik  NaN
e  Strelka  5.0
f    Vaska  2.0
g     Kaa2  4.5
h    Murka  NaN
i     Graf  7.0
j   Muhtar  3.0

In [56]:
'''
Переменная df содержит DataFrame.

Выведите на печать только столбцы 'name' и 'age' И строки 0, 2, 3 (гарантируется, что они есть)
'''

df = pd.DataFrame({'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
                   'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
                   'name': ['Murzik', 'Pushok', 'Kaa', 'Bobik', 'Strelka', 'Vaska', 'Kaa2', 'Murka', 'Graf', 'Muhtar'],
                   'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
                   'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']},
                 index = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'])

print(df[['name', 'age']].iloc[[0, 2, 3]])

     name  age
a  Murzik  2.5
c     Kaa  0.5
d   Bobik  NaN

In [58]:
'''
Переменная df содержит DataFrame.

Выведите на печать только данные, относящиеся к записям, возраст которых больше, указанного в переменное critical_age.
'''

df = pd.DataFrame({'name' : ["Alex", "Bob", "Carmen", "Diaz", "Ella","Forman", "Glen"],
                   'age' : [20, 27, 35, 55, 18, 21, 35],
                   'designation': ["VP", "CEO", "CFO", "VP", "VP", "CEO", "MD"]})

critical_age = 30

print(df[df['age'] > critical_age])

     name  age designation
2  Carmen   35         CFO
3    Diaz   55          VP
6    Glen   35          MD

In [60]:
'''
Переменная df содержит DataFrame.

Выведите на печать только данные, в которых не заполнен возраст (в графе 'age' стоит null).
'''

df = pd.DataFrame({'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
                   'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
                   'name': ['Murzik', 'Pushok', 'Kaa', 'Bobik', 'Strelka', 'Vaska', 'Kaa2', 'Murka', 'Graf', 'Muhtar'],
                   'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
                   'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']},
                 index = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'])

print(df[df['age'].isnull()])

  animal  age   name  visits priority
d    dog  NaN  Bobik       3      yes
h    cat  NaN  Murka       1      yes