In [2]:
'''
Импортируйте модуль pandas как pd
'''

import pandas as pd

In [2]:
'''
Выведите на печать версию модуля pandas, используемую в текущий момент в песочнице Stepik.
'''

print(pd.__version__)

'1.1.3'

In [5]:
'''
Создайте Dataframe из словаря data. В качестве подписей строк используйте список labels.

Результат сохраните в переменную df.
'''

import numpy as np
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(data, labels)
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [10]:
'''
Переменная df содержит DataFrame.
Переменная col содержит имя колонки
Переменная row содержит имя ИЛИ индекс строки
Выведите на печать содержимое ячейки
'''

col = "animal"
row = "e"
df = pd.DataFrame({'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
                   'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
                   'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
                   'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']},
                 index = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'])

print(df[col][row])

dog

In [17]:
'''
Переменная df содержит DataFrame.

Выведите на печать:

число непустых (не null) значений в колонке 'age'
75% квантиль для значений в колонке 'age'
'''

df = pd.DataFrame({'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
                   'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
                   'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
                   'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']},
                 index = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'])

print(df.describe().age['count'])
print(df.describe().age['75%'])

8.0
4.625

In [19]:
'''
Переменная df содержит DataFrame.

Выведите на печать 3 первых строки.
'''

print(df[:3])

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no

In [21]:
print(df.head(3))

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no

In [40]:
'''
Переменная df содержит DataFrame.

Выведите на печать строки с индексами 0, 2, 3.
'''

df = pd.DataFrame({'name' : ["Alex", "Bob", "Carmen", "Diaz", "Ella","Forman", "Glen"],
                   'age' : [20, 27, 35, 55, 18, 21, 35],
                   'designation': ["VP", "CEO", "CFO", "VP", "VP", "CEO", "MD"]})

print(df.iloc[[0, 2, 3]])

     name  age designation
0    Alex   20          VP
2  Carmen   35         CFO
3    Diaz   55          VP

In [45]:
'''
Переменная df содержит DataFrame.

Выведите на печать только столбцы 'name' и 'age' (гарантируется, что они есть)
'''

df = pd.DataFrame({'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
                   'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
                   'name': ['Murzik', 'Pushok', 'Kaa', 'Bobik', 'Strelka', 'Vaska', 'Kaa2', 'Murka', 'Graf', 'Muhtar'],
                   'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
                   'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']},
                 index = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'])

print(df[['name', 'age']])

      name  age
a   Murzik  2.5
b   Pushok  3.0
c      Kaa  0.5
d    Bobik  NaN
e  Strelka  5.0
f    Vaska  2.0
g     Kaa2  4.5
h    Murka  NaN
i     Graf  7.0
j   Muhtar  3.0

In [56]:
'''
Переменная df содержит DataFrame.

Выведите на печать только столбцы 'name' и 'age' И строки 0, 2, 3 (гарантируется, что они есть)
'''

df = pd.DataFrame({'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
                   'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
                   'name': ['Murzik', 'Pushok', 'Kaa', 'Bobik', 'Strelka', 'Vaska', 'Kaa2', 'Murka', 'Graf', 'Muhtar'],
                   'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
                   'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']},
                 index = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'])

print(df[['name', 'age']].iloc[[0, 2, 3]])

     name  age
a  Murzik  2.5
c     Kaa  0.5
d   Bobik  NaN

In [58]:
'''
Переменная df содержит DataFrame.

Выведите на печать только данные, относящиеся к записям, возраст которых больше, указанного в переменное critical_age.
'''

df = pd.DataFrame({'name' : ["Alex", "Bob", "Carmen", "Diaz", "Ella","Forman", "Glen"],
                   'age' : [20, 27, 35, 55, 18, 21, 35],
                   'designation': ["VP", "CEO", "CFO", "VP", "VP", "CEO", "MD"]})

critical_age = 30

print(df[df['age'] > critical_age])

     name  age designation
2  Carmen   35         CFO
3    Diaz   55          VP
6    Glen   35          MD

In [60]:
'''
Переменная df содержит DataFrame.

Выведите на печать только данные, в которых не заполнен возраст (в графе 'age' стоит null).
'''

df = pd.DataFrame({'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
                   'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
                   'name': ['Murzik', 'Pushok', 'Kaa', 'Bobik', 'Strelka', 'Vaska', 'Kaa2', 'Murka', 'Graf', 'Muhtar'],
                   'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
                   'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']},
                 index = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'])

print(df[df['age'].isnull()])

  animal  age   name  visits priority
d    dog  NaN  Bobik       3      yes
h    cat  NaN  Murka       1      yes

In [8]:
'''
Переменная filter_names содержит список имён столбцов по которым происходит фильтрация

Переменная filter_values содержит список из 2 значений по которым происходит фильтрация. 1 значение проверяется на равенство. 2 значение должно быть меньше указанного в фильтре.

Выведите только те строки датафрейма, которые удовлетворяют условиям обоих фильтров.
'''

df = pd.DataFrame({'name' : ["Alex", "Bob", "Carmen", "Diaz", "Ella","Forman", "Glen"],
                   'age' : [20, 27, 35, 55, 18, 21, 35],
                   'designation': ["VP", "CEO", "CFO", "VP", "VP", "CEO", "MD"]})
filter_names = ["designation", "age"]
filter_values = ["VP", 40]

print(df[df[filter_names[0]]==filter_values[0]][df[filter_names[1]]<filter_values[1]])

   name  age designation
0  Alex   20          VP
4  Ella   18          VP

In [14]:
'''
Переменная age_between содержит 2 числа

Выведите только те строки датафрейма, возраст в которых находится в интервале между числами age_between (включая границы)
'''

df = pd.DataFrame({'name' : ["Alex", "Bob", "Carmen", "Diaz", "Ella","Forman", "Glen"],
                   'age' : [20, 27, 35, 55, 18, 21, 35],
                   'designation': ["VP", "CEO", "CFO", "VP", "VP", "CEO", "MD"]})
age_between = [21, 55]

print(df[(df['age'] >= age_between[0]) & (df['age'] <= age_between[1])])

     name  age designation
1     Bob   27         CEO
2  Carmen   35         CFO
3    Diaz   55          VP
5  Forman   21         CEO
6    Glen   35          MD

In [15]:
print(df[df.age.between(*age_between)])

     name  age designation
1     Bob   27         CEO
2  Carmen   35         CFO
3    Diaz   55          VP
5  Forman   21         CEO
6    Glen   35          MD

In [16]:
'''
Переменная index содержит строку ИЛИ число (индекс)

Увеличьте значение возраста в строке индексом равным index на 1.

Выведите df на печать.
'''

df = pd.DataFrame({'name' : ["Alex", "Bob", "Carmen", "Diaz", "Ella","Forman", "Glen"],
                   'age' : [20, 27, 35, 55, 18, 21, 35],
                   'designation': ["VP", "CEO", "CFO", "VP", "VP", "CEO", "MD"]})
index = 2

df.age[index] += 1
print(df)

     name  age designation
0    Alex   20          VP
1     Bob   27         CEO
2  Carmen   36         CFO
3    Diaz   55          VP
4    Ella   18          VP
5  Forman   21         CEO
6    Glen   35          MD

In [17]:
'''
Увеличьте значение возраста во всех строках на 1.
'''

df = pd.DataFrame({'name' : ["Alex", "Bob", "Carmen", "Diaz", "Ella","Forman", "Glen"],
                   'age' : [20, 27, 35, 55, 18, 21, 35],
                   'designation': ["VP", "CEO", "CFO", "VP", "VP", "CEO", "MD"]})

df.age += 1
print(df)

     name  age designation
0    Alex   21          VP
1     Bob   28         CEO
2  Carmen   36         CFO
3    Diaz   56          VP
4    Ella   19          VP
5  Forman   22         CEO
6    Glen   36          MD

In [21]:
'''
Выведите на печать сумму всех возрастов в df.
'''

df = pd.DataFrame({'name' : ["Alex", "Bob", "Carmen", "Diaz", "Ella","Forman", "Glen"],
                   'age' : [20, 27, 35, 55, 18, 21, 35],
                   'designation': ["VP", "CEO", "CFO", "VP", "VP", "CEO", "MD"]})

print(np.sum(df.age))

211

In [32]:
'''
Выведите на печать для каждого столбца, содержащего числа его имя и сумму через двоеточие.

 

В рамках этой задачи мы гарантируем, что числами являются int64 и float64 https://docs.scipy.org/doc/numpy-1.10.4/user/basics.types.html, однако в общем виде имеет смысл использовать проверку на принадлежность к классу.
'''

df = pd.DataFrame({'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
                   'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
                   'name': ['Murzik', 'Pushok', 'Kaa', 'Bobik', 'Strelka', 'Vaska', 'Kaa2', 'Murka', 'Graf', 'Muhtar'],
                   'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
                   'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']},
                 index = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'])
import numpy as np
headers = list(df)
print(*[f'{h}:{np.sum(df[h])}' for h in headers if df[h].dtype==np.int64 or df[h].dtype==np.float64], sep='\n')

age:27.5
visits:19

In [37]:
'''
Переменная group_by содержит имя колонки по которой производится группировка.

Найдите средние значение возраста по всем записям, сгруппированным по значению в колонке group_by и выведите на печать.
'''

df = pd.DataFrame({'name' : ["Alex", "Bob", "Carmen", "Diaz", "Ella","Forman", "Glen"],
                   'age' : [20, 27, 35, 55, 18, 21, 35],
                   'designation': ["VP", "CEO", "CFO", "VP", "VP", "CEO", "MD"]})
group_by = "designation"

print(df.groupby(group_by).age.mean())

designation
CEO    24
CFO    35
MD     35
VP     31
Name: age, dtype: int64

In [50]:
'''
new_index - индекс для строки, которую надо добавить
new_data - значения для строки, которую надо добавить
del_index - индекс строки, которую надо удалить
Добавьте новую строку (с индексом new_index и значениями new_data) и удалите одну из старых (del_index)
'''

df = pd.DataFrame({'name' : ["Alex", "Bob", "Carmen", "Diaz", "Ella","Forman", "Glen"],
                   'age' : [20, 27, 35, 55, 18, 21, 35],
                   'designation': ["VP", "CEO", "CFO", "VP", "VP", "CEO", "MD"]})
new_index = 42
new_data = [33, "MD", "Aleksey"]
del_index = 3

df.loc[new_index] = new_data
df.drop(del_index, inplace=True)
print(df)

      name age designation
0     Alex  20          VP
1      Bob  27         CEO
2   Carmen  35         CFO
4     Ella  18          VP
5   Forman  21         CEO
6     Glen  35          MD
42      33  MD     Aleksey

In [64]:
'''
Переменная group_by содержит имя колонки по которой производится группировка.

Найдите количество записей каждого типа, сгруппированным по значению в колонке group_by.
'''

df = pd.DataFrame({'name' : ["Alex", "Bob", "Carmen", "Diaz", "Ella","Forman"],
                   'age' : [20, 27, 35, 55, 18, 21],
                   'designation': ["VP", "CEO", "CFO", "VP", "VP", "CEO"]})
group_by = "designation"

print(df[group_by].value_counts())

VP     3
CEO    2
CFO    1
Name: designation, dtype: int64

In [67]:
'''
Переменная sort_by содержит список из 2 строк - имён столбцов по которым необходимо провести сортировку.

Отсортируйте сперва по уменьшению 1 поля из списка sort_by, а при равенстве значений по увеличению 2.
'''

df = pd.DataFrame({'name' : ["Alex", "Bob", "Carmen", "Diaz", "Ella","Forman", "Glen"],
                   'age' : [20, 27, 35, 55, 18, 21, 35],
                   'experience': [1, 2, 3, 4, 5, 6, 7],
                   'designation': ["VP", "CEO", "CFO", "VP", "VP", "CEO", "MD"]})
sort_by = ["age", "experience"]

print(df.sort_values(sort_by, ascending=[False, True]))

     name  age  experience designation
3    Diaz   55           4          VP
2  Carmen   35           3         CFO
6    Glen   35           7          MD
1     Bob   27           2         CEO
5  Forman   21           6         CEO
0    Alex   20           1          VP
4    Ella   18           5          VP

In [70]:
'''
Переменная column содержит имя колонки, содержащей строковые значения "yes", "no", либо числовые 1 или 0.

Замените в column:

"yes" и 1 на True
"no" и 0 на False
Выведите df на печать
'''

df = pd.DataFrame({'name' : ["Alex", "Bob", "Carmen", "Diaz", "Ella","Forman", "Glen"],
                   'age' : [20, 27, 35, 55, 18, 21, 35],
                   'on vacation': [1, 1, 0, 0, 0, 1, 0],
                   'designation': ["VP", "CEO", "CFO", "VP", "VP", "CEO", "MD"]})
column = "on vacation"

df[column] = df[column].map({1:True, 'yes':True, 0:False, 'no':False})
print(df)

     name  age  on vacation designation
0    Alex   20         True          VP
1     Bob   27         True         CEO
2  Carmen   35        False         CFO
3    Diaz   55        False          VP
4    Ella   18        False          VP
5  Forman   21         True         CEO
6    Glen   35        False          MD

In [73]:
'''
Переменная column содержит имя колонки, значения в которой надо модифицировать.

Переменные old_value и new_value содержат старое и новое значения, соответственно.

Замените все старые значения на новые в соответсвующей колонке.
'''

df = pd.DataFrame({'name' : ["Alex", "Bob", "Carmen", "Diaz", "Ella","Forman", "Glen"],
                   'age' : [20, 27, 35, 55, 18, 21, 35],
                   'designation': ["VP", "CEO", "CFO", "VP", "VP", "CEO", "MD"]})
column = 'age'
old_value = 35
new_value = 33

df[column].replace(old_value, new_value, inplace=True)
print(df)

     name  age designation
0    Alex   20          VP
1     Bob   27         CEO
2  Carmen   33         CFO
3    Diaz   55          VP
4    Ella   18          VP
5  Forman   21         CEO
6    Glen   33          MD