In [10]:
'''
В файле torg.csv представлена выгрузка со склада интернет-магазина.
Товаров какого цвета больше всего на складе?
'''

import pandas as pd
df = pd.read_csv('torg.csv', sep=';')
df[['IP_PROP30', 'CP_QUANTITY']].groupby('IP_PROP30').sum()#.idxmax()

           CP_QUANTITY
IP_PROP30
azure              500
black             5000
blue              1800
brown             3500
flowers            500
green             1499
jeans              500
orangered          498
pink              2000
purple            2199
red               2497
redblue            499
see               1000
white             4999

In [22]:
0').sum().sort_values('CP_QUANTITY').groupby('CP_QUANTITY').head()

,IE_XML_ID,IE_NAME,IP_PROP30,IP_PROP31,IP_PROP32,CP_QUANTITY,CR_PRICE_1_USD
0,179,Штаны Полосатый Рейс,purple,NaN,L,99,29.06
1,181,Штаны Полосатый Рейс,purple,NaN,XL,100,29.06
2,182,Штаны Полосатый Рейс,purple,NaN,XS,100,29.06
3,183,Штаны Полосатый Рейс,purple,NaN,M,100,29.06
4,184,Штаны Полосатый Рейс,purple,NaN,S,100,29.06
...,...,...,...,...,...,...,...
270,639,Ремень Грубая Кожа,brown,NaN,L,100,10.39
271,641,Ремень Грубая Кожа,brown,NaN,XL,100,10.39
272,642,Ремень Грубая Кожа,brown,NaN,XS,100,10.39
273,643,Ремень Грубая Кожа,brown,NaN,M,100,10.39
274,644,Ремень Грубая Кожа,brown,NaN,S,100,10.39

In [23]:
'''
В файле torg.csv представлена выгрузка со склада интернет-магазина.
Сгруппируйте размеры представленных товаров по суммарному количеству единиц товара на складе.
Учитывайте, что результат группировки (после применения итоговой функции) - обычный датафрейм, т.е. к нему применимы все обычные функции, например, https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sort_values.html
Отсортируйте размеры по увеличению остатков на складе.
Если товаров одного размера одинаковое количество, то размеры сортируются "лексикографически" (да, мы не будем морочиться)
'''

df[['IP_PROP32', 'CP_QUANTITY']].groupby('IP_PROP32').sum().sort_values('CP_QUANTITY').groupby('CP_QUANTITY').head()

           CP_QUANTITY
IP_PROP32
M                 4198
S                 4198
XS                4299
L                 4397
XL                4399

In [14]:
'''
Найдите суммарную стоимость всех розовых (pink) вещей большого размера (XL).
Учитывайте, что цена указана за 1 единицу товара.
'''

import pandas as pd
df = pd.read_csv('dataset_345422_8.txt', sep=';')
df['PRICE'] = df['CP_QUANTITY'] * df['CR_PRICE_1_USD']
df[['IP_PROP30', 'IP_PROP32', 'PRICE']].groupby(['IP_PROP30', 'IP_PROP32']).sum().loc[('pink', 'XL')]

PRICE    4303.0
Name: (pink, XL), dtype: float64

In [19]:
'''
В файле StudentsPerformance.csv представлен фрагмент выгрузки об абитуриентах. Информация разбита на категории:

gender — пол абитуриента  (female - женщина, male - мужчина);
race/ethnicity — национальность (зашифрована в виде значений "group A", "group B" и т.д.);
parental level of education — уровень образования родителей;
lunch — насколько качественно пообедал абитуриент перед тестом;
test preparation course — закончил ли абитуриент подготовительные курсы;
math score — оценка по математике;
reading score — оценка по чтению;
writing score — оценка по письму.
Каково максимальное медианное значение оценки по чтению у групп, разделенных по признаку "пол абитуриента" и "национальность" ?
'''

df = pd.read_csv('StudentsPerformance.csv')
df.groupby(['gender', 'race/ethnicity'])['reading score'].median()#.max()

gender  race/ethnicity
female  group A           67.5
        group B           71.5
        group C           73.0
        group D           74.0
        group E           76.0
male    group A           61.0
        group B           62.0
        group C           66.0
        group D           68.0
        group E           73.0
Name: reading score, dtype: float64

In [20]:
df

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [44]:
'''
Какое среднее значение оценок по всем предметам у мальчиков из такой же группы с уровнем образования как у родителей девочек, получивших максимальную среднюю оценку по всем предметам?
'''

df['avg'] = (df['math score'] + df['reading score'] + df['writing score']) / 3.
df[df.gender=='female'][['parental level of education', 'avg']].groupby('parental level of education').mean()#.idxmax()

                                   avg
parental level of education
associate's degree           71.123563
bachelor's degree            74.671958
high school                  64.748227
master's degree              73.648148
some college                 71.002825
some high school             65.564103

In [47]:
round(df[df.gender=='male'][df['parental level of education']=="bachelor's degree"].avg.mean(), 1)

68.8

In [95]:
'''
Для этого задания используется случайно генерируемая выборка из 100 записей об использовании велодорожек Монреаля по датам. В выгрузке присутствуют данные только о 7 дорожках (в остальных пустые значения).
Посчитайте среднюю посещаемость каждой велодорожки отдельно по дням недели.
Какой день недели (в среднем) наиболее посещаем?
'''

df = pd.read_csv('dataset_345422_14.txt', parse_dates=['Date'],)
df['weekday'] = df.Date.dt.dayofweek
df['total'] = df.iloc[:, 1:10].sum(axis=1)
df[['weekday', 'total']].groupby('weekday').mean().idxmax()

total    2
dtype: int64

In [122]:
'''
В файле football_players.csv представлен фрагмент выгрузки датасета о футболистах.
Посчитайте среднюю и медианную зарплату "Wage" футболистов из разных клубов "Club".
В скольких клубах средняя и медианная зарплаты совпадают?
'''

df = pd.read_csv('football_players.csv')
mn = df[['Club', 'Wage']].groupby('Club').mean()
med = df[['Club', 'Wage']].groupby('Club').median()
print(sum(mn.Wage == med.Wage))

52

In [142]:
'''
Посчитайте количество организаций (CompanyID), у которых суммарный объем файлов (FileSize) хотя бы одного проекта (ProjectID) превышает средний объем файлов по всем проектам.
Описание полей датасета:

ProjectID (число) - id проекта в рамках которого загружен файл, привязка к элементам другой таблицы
UserID (число) - id пользователя, загрузившего файл, привязка к элементам другой таблицы
uploadServerUnixTime (число) - время загрузки файла на сервер в формате UnixTime
CompanyID (число) - id организации которой принадлежит пользователь, привязка элемента другой таблицы
FileSize (число) - размер файла в байтах
TypeDocs (строка) - раздел в который загружен файл
'''

df = pd.read_csv('dataset_file_storage.csv', sep=';')
avg = df.groupby('ProjectID').FileSize.sum().mean()
df = df.groupby(['CompanyID', 'ProjectID']).FileSize.sum()
df[df > avg]#.count()

CompanyID  ProjectID
703124     705605       3950576179
           705607       1453545094
719936     721640        526480987
721180     724807        514145796
           730163       1566905593
           741822       1524721856
           750864        494872093
722863     722864        798388183
           722865        524723720
723317     723321       1048173650
724043     724044        466545893
724937     724938       1581185110
           724939        518593228
           724940        986266922
726615     726619       1012192132
           726623       1032759715
728333     728336        597374336
729306     729307        508974825
736662     736663       1569514179
738553     738554       1264143584
741921     741922        764662481
748559     748560        637225512
Name: FileSize, dtype: int64