In [10]:
'''
В файле torg.csv представлена выгрузка со склада интернет-магазина.
Товаров какого цвета больше всего на складе?
'''

import pandas as pd
df = pd.read_csv('torg.csv', sep=';')
df[['IP_PROP30', 'CP_QUANTITY']].groupby('IP_PROP30').sum()#.idxmax()

           CP_QUANTITY
IP_PROP30
azure              500
black             5000
blue              1800
brown             3500
flowers            500
green             1499
jeans              500
orangered          498
pink              2000
purple            2199
red               2497
redblue            499
see               1000
white             4999

In [22]:
0').sum().sort_values('CP_QUANTITY').groupby('CP_QUANTITY').head()

,IE_XML_ID,IE_NAME,IP_PROP30,IP_PROP31,IP_PROP32,CP_QUANTITY,CR_PRICE_1_USD
0,179,Штаны Полосатый Рейс,purple,NaN,L,99,29.06
1,181,Штаны Полосатый Рейс,purple,NaN,XL,100,29.06
2,182,Штаны Полосатый Рейс,purple,NaN,XS,100,29.06
3,183,Штаны Полосатый Рейс,purple,NaN,M,100,29.06
4,184,Штаны Полосатый Рейс,purple,NaN,S,100,29.06
...,...,...,...,...,...,...,...
270,639,Ремень Грубая Кожа,brown,NaN,L,100,10.39
271,641,Ремень Грубая Кожа,brown,NaN,XL,100,10.39
272,642,Ремень Грубая Кожа,brown,NaN,XS,100,10.39
273,643,Ремень Грубая Кожа,brown,NaN,M,100,10.39
274,644,Ремень Грубая Кожа,brown,NaN,S,100,10.39

In [23]:
'''
В файле torg.csv представлена выгрузка со склада интернет-магазина.

Сгруппируйте размеры представленных товаров по суммарному количеству единиц товара на складе.

Учитывайте, что результат группировки (после применения итоговой функции) - обычный датафрейм, т.е. к нему применимы все обычные функции, например, https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sort_values.html

Отсортируйте размеры по увеличению остатков на складе.

Если товаров одного размера одинаковое количество, то размеры сортируются "лексикографически" (да, мы не будем морочиться)
'''

df[['IP_PROP32', 'CP_QUANTITY']].groupby('IP_PROP32').sum().sort_values('CP_QUANTITY').groupby('CP_QUANTITY').head()

           CP_QUANTITY
IP_PROP32
M                 4198
S                 4198
XS                4299
L                 4397
XL                4399